asgiref==3.5.0
bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.1
Django==2.2.27
mysqlclient==1.4.6
paramiko==2.9.2
pycparser==2.21
PyNaCl==1.5.0
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
