<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>提醒</title>
</head>
<body>
<p align="center">{{ info }}</p>
<button type="submit" id="btn_login" onclick="javascript:window.history.go(-1)">返回<br/></button>
<style>
    body{text-align: center;}
#btn_login {
    font-size: 18px;
    width: 50px;
    height: 30px;
    line-height: 28px;
    text-align: center;

    /*color: #0b3e6f;*/
    /*background-color: #b9def1;*/
    border-radius: 6px;
    border: 0;


}

</style>
</body>
</html>