{% extends 'myadmin/base.html' %}

{% block main_body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        题库管理
        <small>云计算检测系统后台管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'myadmin_index' %}"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">题库管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">题目视图</h3>
                        <p style="color: red">--请务必保证ID连贯--</p>
                    <div class="box-tools">
                        <form action="{% url 'myadmin_subject_index' 1 %}" method="get">
                            <div class="input-group input-group-sm" style="width:150px;">
                                <input type="text" name="keyword" class="form-control pull-right" placeholder="标题">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>内容</th>
                            <th>分数</th>
                            <th>检测命令</th>
                            <th>检测标准</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        {%for vo in testlist %}
                        <tr>
                            <td>{{ vo.id }}</td>
                            <td>{{ vo.title }}</td>
                            <td>{{ vo.content }}</td>
                            <td>{{ vo.score }}</td>
                            <td>{{ vo.command }}</td>
                             <td>{{ vo.result1 }}</td>
                            <td>{{ vo.create_at|date:'Y-m-d H:i:s' }}</td>
                            <td>
                                <a role="button" href="{% url 'myadmin_subject_edit' vo.id %}"
                                   class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑</a>
                                <button type="button" onclick="doDel('{% url 'myadmin_subject_delete' vo.id %}')"
                                        class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
                                </button>
<!--                                    <a type="button" class="btn btn-warning btn-xs"-->
<!--                                        href=" { % url 'myadmin_subject_detail' vo.id %}">-->
<!--                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查看详细-->
<!--                                </a>-->
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a role="button" href="{% url 'myadmin_subject_add' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加题目</a>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="{% url 'myadmin_subject_index' pIndex|add:-1 %}?{{mywhere|join:'&'}}">&laquo;</a>
                        </li>
                        {% for p in plist %}
                        <li {% if p == pIndex %}class="active" {% endif %}><a
                                href="{% url 'myadmin_subject_index' p %}?{{mywhere|join:'&'}}">{{p}}</a></li>
                        {% endfor %}
                        <li><a href="{% url 'myadmin_subject_index' pIndex|add:1 %}?{{mywhere|join:'&'}}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

</section>

{% endblock %}