{% extends "myadmin/base.html" %}

{% block main_body %}
    <!-- Content Header (Page header) -->

    <section class="content-header">
      <h4>
        信息提示:
      </h4>
    </section>

    <div class="pad margin no-print">
      <div class="callout callout-info" style="margin-bottom: 0!important;padding-left: 50px">
        <h3><i class="fa fa-exclamation-triangle"></i>  &nbsp; {{ info }}</h3>
      </div>
     <div class="box-footer clearfix">
    <button type="submit" id="btn_login" class="btn btn-primary" onclick="javascript:window.history.go(-1)">返回<br/></button>
    <a role="button" href="{% url 'myadmin_subject_add' %}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加下一题</a>
     </div>
    </div>
{% endblock %}